@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


$corporateColor: tomato;
$font_family_base: 'Inter', 'Sans Serif';

// * {
//     border: 1px solid $corporateColor;
// }

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}


.app {
    display: grid;
    grid-template-rows: auto 150px 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;

    .header {
        grid-area: 1 / 1 / span 1 / span 1;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgb(27, 27, 27);
        top: 0;
        width: 100%;
        position: sticky;
        z-index: 99;
        

        @media (min-width: 768px) {
            padding: 1.5rem;
        }

        h2 {
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: 200;
            color: white;
        }

        h3 {
            display: none;
            margin-bottom: 0;
            font-weight: 300;
            color: white;
            font-size: smaller;

            @media (min-width: 768px) {
                display: inline;
            }    
        }

        .single_view_heading {
            display: flex;
            align-items: center;
            justify-items: left;

            button {
                margin-right: 1rem;
                background-color: rgba(0, 0, 0, 0);
                color: white;
                padding: .5rem 1rem .5rem 1rem;
                border-radius: .5rem;
                transition: ease .1s;
                border: solid 1px rgba(255, 255, 255, 0.144);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.075);
                    cursor: pointer;
                }
    
                &:focus {
                    outline: none;
                }
    
                &:active {
                    background-color: rgba(0, 0, 0, 0.452);
                }        
    
                span {
                    font-size: 1rem;
                    transform: translateY(-.1rem);
                }
            } 
        }

    }



    .main {
        grid-area: 2 / 1 / span 2 / span 1;
        background-color: rgb(27, 27, 27);
    }




    .footer {
        grid-area: 4 / 1 / span 1 / span 1;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        background-color: rgb(27, 27, 27);
        position: sticky;
        bottom: 0;
        width: 100%;

        .footer_button {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            padding: .5rem 1.2rem .5rem 1rem;
            border-radius: .5rem;
            transition: ease .1s;
            width: 100%;
            border: solid 1px rgba(255, 255, 255, 0.144);

            @media (min-width: 768px) {
                width: fit-content;
                padding-left: 4rem;
                padding-right: 4rem;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.075);
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.452);
            }

            span {
                color: white;
                font-size: .8rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: .1rem;
                margin-right: .8rem;

            }
        }
    }
}

.spinner {
    grid-area: 1 / 1 / -1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    &.opened {
        visibility: visible;
    }

    .fa-spinner {
        color: white;
        font-size: 1.5rem;
    }
}

#my_map {
    height: 100%;
    width: 100%;
}

.single_view_main {
    padding: 0 1rem;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, auto));
        gap: 1rem;
    }
}

.weather_card {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: .5rem;

    @media (min-width: 768px) {
        flex-flow: column;
        align-items: center;
        margin-bottom: 0;
    }


    .time {
        margin-bottom: 0;
        font-weight: 600;
        color: rgb(73, 73, 73);
        font-size: 1.2rem;

        @media (min-width: 768px) {
            width: 100%;
        } 
    }

    .temp {
        margin-bottom: 0;
        font-weight: 100;
        font-size: 1.8rem;

        @media (min-width: 768px) {
            width: 100%;
            font-size: 4rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-right: 2rem;
            padding-left: 0;
        } 
    }

    .wind {
        margin-bottom: 0;
        font-weight: 200;
        color: white;
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            width: 100%;
            justify-content: flex-end;
        } 

        span {
            font-size: 1rem;
            color: white;
            width: 2rem;
            margin-right: .5rem;
            transform: translateY(.1rem);

            svg {
                fill: rgb(73, 73, 73);
                transform: scale(2);
                height: 1rem;
            }
        }

    }
}