@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


$corporateColor: tomato;

* {
    border: 1px solid $corporateColor;
}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}


.app {
    display: grid;
    grid-template-rows: auto 150px 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;

    .header {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    .main {
        grid-area: 2 / 1 / span 2 / span 1;
    }
    .footer {
        grid-area: 4 / 1 / span 1 / span 1;
    }
    .spinner {
        grid-area: 1 / 1 / -1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
}



.spinner {
    visibility: hidden;
    &.opened {
        visibility: visible;
    }
}

